input[type=text], input[type=password], input[type=radio], input[type=email], input[type=phone]
{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      background: transparent;
      /*box-sizing: border-box;*/
    }
.content
{
    width: 70%;  
  background: rgb(230, 225, 225);
  padding: 10px 50px;
    margin: 1% auto 1% auto;
    border-radius: 20px;
  border: 2px solid #000;
  box-shadow: 10px 10px;
}
.row
{
    margin-right: 50px;
}
label
{
    margin-top: 10px;
    font-weight: bold;
}

.nutdk
{
    background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      margin-left: 90px;
      cursor: pointer;
}

.nuthuy
{
    background-color: rgb(199, 35, 35);
      border: none;
      color: white;
      padding: 15px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      margin-left: 90px;
      cursor: pointer;
}

.nutdk:hover
    {
      background-color:green;
    }

.nuthuy:hover
{
      background-color: rgb(194, 16, 16);
}